# Plotly and Cufflinks

Plotly is a library that allows you to create interactive plots that you can use in dashboards or websites (you can save them as html files or static images).

## Installation

In order for this all to work, you'll need to install plotly and cufflinks to call plots directly off of a pandas dataframe. These libraries are not currently available through **conda** but are available through **pip**. Install the libraries at your command line/terminal using:

    pip install plotly
    pip install cufflinks

** NOTE: Make sure you only have one installation of Python on your computer when you do this, otherwise the installation may not work. **

## Imports and Set-up

In [ ]:
import pandas as pd
import numpy as np

%matplotlib inline

In [11]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import chart_studio.plotly as py
print(__version__) # requires version >= 1.9.0

5.6.0

In [3]:
import cufflinks as cf

In [ ]:
# For Notebooks
init_notebook_mode(connected=True)

In [ ]:
# For offline use
cf.go_offline()

### Fake Data

In [5]:
df = pd.DataFrame(np.random.randn(100,4),columns='A B C D'.split())

In [12]:
df.head()

          A         B         C         D
0 -1.122939  0.519801  0.758141 -0.674025
1 -0.866862 -1.411931 -0.243262 -0.245044
2  0.851824 -0.227595 -0.023371 -0.141032
3 -0.405057  0.557444 -0.273414  0.224915
4 -1.386755  1.340206 -0.495316  0.110428

In [7]:
df2 = pd.DataFrame({'Category':['A','B','C'],'Values':[32,43,50]})

In [8]:
df2.head()

  Category  Values
0        A      32
1        B      43
2        C      50

## Using Cufflinks and iplot()

* scatter
* bar
* box
* spread
* ratio
* heatmap
* surface
* histogram
* bubble

## Scatter

In [ ]:
df.iplot(kind='scatter',x='A',y='B',mode='markers',size=10)
df.head()

## Bar Plots

In [ ]:
df2.iplot(kind='bar',x='Category',y='Values')

In [ ]:
df.count().iplot(kind='bar')

In [ ]:
df2.head()

## Boxplots

In [ ]:
df.iplot(kind='box')

## 3d Surface

In [ ]:
df3 = pd.DataFrame({'x':[1,2,3,4,5],'y':[10,20,30,20,10],'z':[5,4,3,2,1]})
df3.iplot(kind='surface',colorscale='rdylbu')

## Spread

In [ ]:
df[['A','B']].iplot(kind='spread')

## histogram

In [ ]:
df['A'].iplot(kind='hist',bins=25)

In [ ]:
df.iplot(kind='bubble',x='A',y='B',size='C')

## scatter_matrix()

Similar to sns.pairplot()

In [ ]:
df.scatter_matrix()

# Great Job!